.head {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.links {
  margin: 10px 0;
  height: 22px;
}

.grid {
  width: 100%;
  height: calc(100vh - 42px);
  background: #333;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 20px;

  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  align-items: center;

  h2 {
    color: #fff;
    text-align: center;
  }

  .wrap {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;
    flex-wrap: wrap;
  }
}

video {
  display: none;
}